<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
	">

	<bean id="excelReport" class="at.fh.swenga.f4u.report.ExcelFinanceReportView" />
<!-- 	<bean id="pdfReportV5" class="at.fh.swenga.f4u.report.pdf.itext5.PdfFinanceReportViewItext5" /> -->
	<!-- <bean id="pdfReport" class="at.fh.swenga.f4u.report.pdf.PdfFinanceReportView" /> -->
</beans>